src/main/mule/AccountCreation1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="11815bf4-5b2d-4d57-b3e6-26beb71ed57f" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="f7525d2a-2a66-408a-98d2-fd9effa950d9" >
	<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="employeedetails" />
	</db:config>
	<flow name="AccountCreation1Flow" doc:id="093016ae-d0af-48ac-a04e-8faf8cdac70d" >
		<db:insert doc:name="Insert" doc:id="2e9bf394-a9a7-4b0e-8336-cda675cfecfb" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into account(name, phone, email, gender, dateOfBirth) 
values (:name, :phone, :email, :gender, :dateOfBirth) ;
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	name:payload.name,
	phone:payload.mobileNo,
	email:payload.emailId,
	gender:payload.gender,
	dateOfBirth:payload.doj
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="4ab69b6d-cc9f-4054-8bc8-3b2a231c276e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	
	"status code": "201",
	"message":"Account Created Successfully with Account_Id"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="55d686d0-1194-48a1-b33a-2ede487a0c03" message="Response from DataBase--------#[payload]"/>
	</flow>
</mule>
