src/main/mule/DeleteAccount.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="DeleteAccountFlow" doc:id="859c2578-e285-4c74-8378-aa30d325b49c" >
		<logger level="INFO" doc:name="Logger" doc:id="2bbfffd5-c3b8-4f07-8c62-3d4ce4e8a9ae" message="DeleteAccount flow starts-----------"/>
		<db:delete doc:name="Delete" doc:id="56a7237e-053c-44fd-9489-dd42ff7f86ca" config-ref="Database_Config">
			<db:sql ><![CDATA[ DELETE FROM account WHERE accountId= :AccId;
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	AccId:attributes.queryParams.accountId
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="55097145-8d93-4077-b67f-773eca4b8d0c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Account Details deleted Successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9ad49e3f-c7d7-40ad-8090-d593e85326a8" message="Final response from DB----------------#[payload]"/>
	</flow>
</mule>
