src/main/mule/Details.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="DetailsFlow" doc:id="a1249aa6-1fbc-40ec-a1ab-8dcbd2bab875" >
		<logger level="INFO" doc:name="Logger" doc:id="e39b92a5-7629-4d86-972d-d74b4f2d72ab" message="Details flow starts-----------#[attributes.queryParams]"/>
		<db:select doc:name="Select" doc:id="2e794708-a575-40f1-b0f1-8e532fe7f401" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from account where accountId= :AccId;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	 AccId:attributes.queryParams.accountId
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="8e5bda74-fd91-4041-b29f-0dc62d599262" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  accountId: 1001,
  dateOfBirth: null,
  gender: null,
  phone: "9000000123",
  name: "aadi",
  email: "aadishakti@gmail.com"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ff22ac11-aac7-4ef9-a83c-628db26e9c84" message="Final response from DB--------------#[payload]"/>
	</flow>
</mule>
