src/main/mule/UpdateDetails.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="UpdateDetailsFlow" doc:id="19b057e4-3c04-4f72-89d8-971a6519eded" >
		<logger level="INFO" doc:name="Logger" doc:id="586305d0-ed27-4910-812c-c0e3dbb37054" message="Update flow starts--------------"/>
		<db:update doc:name="Update" doc:id="7adfe315-777f-42e3-be8f-018ef7c749d5" config-ref="Database_Config">
			<db:sql ><![CDATA[Update account set phone= :phone where accountId= :accountId;
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	phone:payload.phone,	
	accountId:payload.AccId
	
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="a6a08695-9ff6-4b99-8531-183a2bf372c7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Phone number updated successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="06ed6f6a-864e-467c-a3a8-5ae669ef8511" message="Final response from DataBase------------#[payload]"/>
	</flow>
</mule>
